.asideBox {
    width: 250px;
    height: calc(100vh - 60px); 
    position: fixed;
    top: 60px; 
    left: 0;
    background-color: #ffffff;
    color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #d1d1d1;
    z-index: 500;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
    margin-top: 30px;
}

.btnNavbar {
    background-color: var(--theme);
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 130px;
}

.btnNavbar:hover {
    text-decoration: none;
    background-color: #4f52f1;
}



