.iconContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    margin: 10px;
  }
  
  .bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding-top: 60px;
  }
  
  .menu.open {
    display: block;
  }
  
  .menuItem {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .menuItem:hover {
    color: #f1f1f1;
  }
  